*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #D9D9D9;
  color: black;
}
.logo img{
  width: 220px;  
  height: auto;  
  
}
.logo {
  display: flex;
  align-items: center;
}

.navigation{
  font-weight: bold;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation li {
  
  margin: 0 10px;
}



.navigation a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: rgb(95, 92, 92);
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.navigation a:after{
  content: "";
  position: absolute;
  background-color:rgb(39, 235, 235) ;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navigation a:hover{
  color:black;
}
.navigation a:hover:after{
  width: 100%;
}



/* Hero Section */
.hero {
  position: relative;
  height: 500px;
  background: url('ship.png') no-repeat center center;
  background-size: cover;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Add a dark overlay */
  z-index: 1; /* Ensures the overlay stays behind the content */
}

.hero .content {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
  color: #fff; /* White text color for visibility */
  text-align: center;
  padding-top: 100px;
}

.hero-text {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Adds shadow to make text pop */
  line-height: 1.2; /* Adjust for better spacing between lines */
}

.visit-model-btn {
  margin-top: 60px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.visit-model-btn:hover {
  background-color: #e64a19;
}


/* About Us Section */
.about-us {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
  line-height: 1.5;
}

.about-us-content{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  font-size: 18px;

}

/* Services Section */
.services {
  padding: 50px 20px;
  text-align: center;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 200px;
  padding: 20px;
  background-color: #0d47a1;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 60px;
  margin-bottom: 10px;
}

/* Footer Section */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

